@charset "UTF-8";
/*Normalize
===================================================================*/
@import url(_normalize.scss);
/*Utilitaire
===================================================================*/
@import url(_utilitaires.scss);
html {
  margin: 0;
  width: fit-content;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  margin: 0;
  border: #ffa98e solid 1px;
}

/*EN-TETE*/
.entete {
  /*position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  z-index: 3;
  background-color: $bgCouleur;*/
}
@media (min-width: 800px) {
  .entete {
    position: inherit;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
  }
}
.entete__nom-site {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
}
@media (min-width: 800px) {
  .entete__nom-site {
    position: inherit;
    margin: 1em;
  }
}

@media (min-width: 800px) {
  .navPrincipale {
    position: inherit;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.navPrincipale__img {
  width: 40px;
  height: 40px;
}
.navPrincipale .menu-principal {
  /*border: #ffa98e solid 1px;*/
  padding-left: 0;
  margin-bottom: 3em;
  /*margin-top: 15em;*/
  list-style-type: none;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
@media (min-width: 800px) {
  .navPrincipale .menu-principal {
    margin: 0 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.navPrincipale .menu-principal .menu-principal__item {
  margin: 1.2em 1em;
  text-transform: uppercase;
}
.navPrincipale .menu-principal .menu-principal__item:hover {
  border-left: solid 3px #ffa98e;
  border-right: solid 3px #ffa98e;
  padding-left: 5px;
  padding-right: 5px;
}
@media (min-width: 800px) {
  .navPrincipale .menu-principal .menu-principal__item {
    margin: 8px 8px;
  }
}

/*MAIN*/
/*INTRO*/
.intro {
  margin: 0 2em;
}
@media (min-width: 800px) {
  .intro {
    margin: 0 0;
  }
}
.intro__titre-principal {
  font-size: 5em;
  margin-top: 2em;
}
.intro__paragraphe {
  width: 75%;
}
.intro__bouton {
  border-radius: 500px;
  background-color: #fff;
  color: #000;
  font-size: 0.8em;
  width: 9em;
  padding: 1em;
  margin: 5px 5px;
}

.intro__video {
  min-width: 100%;
  margin: 5em 0;
}
.intro__video iframe {
  width: 100%;
  height: 600px;
  margin: 0;
}
.intro__video .intro__video__titre {
  font-size: 0.5em;
}

/*DESIGN*/
.design section {
  margin: 6em 1em;
}
.design .design__titre {
  text-align: center;
  width: 75%;
  margin: 2em auto;
}

/*REPRESENTATION*/
.representation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
}
@media (min-width: 800px) {
  .representation {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.representation__img {
  max-width: 90%;
  align-self: center;
}
@media (min-width: 800px) {
  .representation__img {
    max-width: 45%;
  }
}
.representation .update {
  display: block;
  padding: 2em;
}
@media (min-width: 800px) {
  .representation .update {
    padding: 5em;
  }
}
.representation .update__bouton {
  border-radius: 500px;
  padding: 1em;
  border: none;
  background-color: #fff;
  width: 9em;
}

/*ONAIR*/
.onAir {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
}
@media (min-width: 800px) {
  .onAir {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.onAir__img {
  max-width: 90%;
  align-self: center;
}
@media (min-width: 800px) {
  .onAir__img {
    max-width: 45%;
  }
}
.onAir .episode {
  display: block;
  padding: 2em;
}
@media (min-width: 800px) {
  .onAir .episode {
    padding: 5em;
  }
}
.onAir .episode__bouton {
  border-radius: 500px;
  padding: 1em;
  border: none;
  background-color: #fff;
  width: 9em;
}

/*SERVICES*/
.services {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
}
@media (min-width: 800px) {
  .services {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.services__img {
  max-width: 90%;
  align-self: center;
}
@media (min-width: 800px) {
  .services__img {
    max-width: 45%;
  }
}
.services .whatWeDo {
  display: block;
  padding: 2em;
}
@media (min-width: 800px) {
  .services .whatWeDo {
    padding: 5em;
  }
}
.services .whatWeDo__bouton {
  border-radius: 500px;
  padding: 1em;
  border: none;
  background-color: #fff;
  width: 9em;
}

/*PROJETS (Section principale)*/
.projets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projets__titre {
  text-align: center;
  width: 75%;
  margin: 2em auto 0.5em auto;
}
.projets__bouton {
  border-radius: 500px;
  padding: 1em;
  border: none;
  background-color: #fff;
  width: 9em;
}

/*PROJETS (Détails des projets)*/
.conteneur-projets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 800px) {
  .conteneur-projets {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.conteneur-projets .levis {
  margin: 1em;
}
.conteneur-projets .levis .levis__img {
  max-width: 100%;
}
.conteneur-projets .dropbox {
  margin: 1em;
}
.conteneur-projets .dropbox .dropbox__img {
  max-width: 100%;
}

/*PARTENAIRES*/
.partenaires {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partenaires__titre {
  text-align: center;
  width: 75%;
  margin: 2em auto 0.5em auto;
}
.partenaires__bouton {
  text-justify: auto;
  border-radius: 500px;
  padding: 1em;
  margin: 0 auto;
  border: none;
  background-color: #fff;
  width: 9em;
}

/*LISTE DES LOGOS*/
.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
  max-width: 100%;
}
@media (min-width: 600px) {
  .list {
    margin-top: 7em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.list__item {
  margin: 3em 5em;
  padding: 0 auto;
}
@media (min-width: 600px) {
  .list__item {
    margin: 0 0;
    padding: 0 0;
  }
}
.list__img {
  width: 70%;
}
@media (min-width: 600px) {
  .list__img {
    align-self: center;
    padding-left: 2em;
    /*width: 200px;
    height: 100px;
    margin: 1em 5em;*/
  }
}

/*FOOTER*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  border: #6c83ff solid 2px;
  margin-top: 5em;
}
@media (min-width: 800px) {
  .footer {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 7em;
  }
}
.footer .nav-home {
  list-style-type: none;
  padding-right: 1em;
}
.footer .nav-home .nav-home__item {
  margin: 0.7em 0;
}
.footer .nav-home:hover {
  border-left: solid 3px #ffa98e;
  border-right: solid 3px #ffa98e;
  padding-left: 5px;
  padding-right: 5px;
}
.footer .nav-here {
  list-style-type: none;
  padding-right: 1em;
}
.footer .nav-here .nav-here__item {
  margin: 0.7em 0;
}
.footer .nav-here:hover {
  border-left: solid 3px #ffa98e;
  border-right: solid 3px #ffa98e;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-secondaire {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
@media (min-width: 800px) {
  .nav-secondaire {
    border: #6c83ff solid 2px;
    justify-items: flex-end;
  }
}
.nav-secondaire__bouton {
  border-radius: 500px;
  padding: 1em;
  margin: 0 auto;
  border: #fff solid 1px;
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
  width: 11em;
}
.nav-secondaire .reseaux {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  list-style-type: none;
  list-style-type: none;
}
@media (min-width: 800px) {
  .nav-secondaire .reseaux {
    padding-left: 0;
  }
}
.nav-secondaire .reseaux__item {
  width: 2em;
  height: 2em;
  margin: 0 1em;
}

/*# sourceMappingURL=styles.css.map */
